* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: auto;
    height: 100vh;
    background-color: #FAD4D4;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 8px solid rgba(255, 255, 255, 1);
    border-left: 8px solid rgba(255, 255, 255, 1);
    border-right: 8px solid rgba(255, 255, 255, 0);

    animation: spin 0.5s infinite linear;
}



h1{
    position: relative;
    top: 0;
    color: #321219;
    padding: 20px;
    
}
h1::before{
    content: attr(loading-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    color: #F47C7C;
    overflow: hidden;
    animation: loading 5s infinite linear;

}

@keyframes loading{
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}