*{
    margin: 0px;
    padding: 0px;
}

.image_section{
    width: auto;
    height: 500px;
    background-image: url("images/body_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table,th,td{
    border: 1px dotted black;
    width: 100%;
     /* border-collapse: collapse;  */
}
th,td{
    background-color: aquamarine;
    border-radius: 10px;
}
/* ol display properties */
li {
    display: list-item;
    list-style-position: inside;
  }