*{
    margin: 0px;
    padding: 0px;
}

.image_section{
    width: auto;
    height: 500px;
    background-image: url("images/body_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}