* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.image_section {
    width: auto;
    height: 500px;
    background-image: url("images/body_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.div_table {
    overflow-x: auto;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px dotted black;
    /* border-collapse: collapse;  */
}

th,
td {
    background-color: aquamarine;
    border-radius: 10px;
}

/* ol display properties */
li {
    display: list-item;
    list-style-position: inside;
}

dd {
    display: list-item;
    list-style-position: inside;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4a8bb4;
    color: white;
    padding: 10px;
    border: 1px solid darkblue;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px red;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 85px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content a {
    list-style-type: none;
    text-decoration: none;
    padding: 20px 12px;
    /* width: 43px; */
}

.outline_b {
    /* border: 1px solid black;

    outline: 2px dotted red;
    outline-offset: 10px; */
    text-decoration: wavy underline red 1px;
    text-shadow: 2px 2px 4px red;
}

span {

    border: 2px solid black;
}

.color {
    background-image: radial-gradient(circle, #dd9b0e, #dd1515);
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #4a8bb4;
}

.flex_container {
    display: flex;
    width: auto;
    height: 200px;
    background-color: #4a8bb4;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.flex_container .flex_item {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #829c2c;
    border: 2px solid beige;
}

.three {
    flex-grow: 3;
}

.inline {
    display: inline;
    background-color: #4a8bb4;
}
#inl{
    background-color: #829c2c;
}
.inline_block{
    display: inline-block;
    background-color: #4a8bb4;
    width: 200px;
    height: 100px;
}
.block{
    display: block;
    background-color: #4a8bb4;
    width: 200px;
    height: 300px;
}